@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  font-family: "Outfit", sans-serif;
  color: #8bacd9;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #0d192c;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 327px;
  background-color: #15263f;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
  padding: 24px;
}

.image {
  position: relative;
  border-radius: 8px;
}

.image > img:not(.icon) {
  width: 278px;
  border-radius: 8px;
}

.overlay {
  width: 278px;
  height: 278px;
  background-color: #00fff8;
  opacity: 0;
  border-radius: 8px;
  transition: all 500ms;

  position: absolute;
  top: 0;
  left: 0;
}

.icon {
  width: 44px;
  position: absolute;
  top: 117px;
  left: 117px;

  opacity: 0;
  transition: all 500ms;
}

h1 {
  margin: 24px 0 12px;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
}

a {
  transition: all 500ms;
}
.card > p {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

.info {
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #2e405a;
}

.info div {
  display: flex;
  gap: 8px;
}

.value p {
  color: #00fff8;

  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}

.time p {
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
}

.creator {
  font-size: 15px;
  line-height: 19px;
  margin-top: 16px;

  display: flex;
  align-items: center;
  gap: 16px;
}

.creator img {
  width: 33px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.creator a {
  color: #fff;
}

@media (min-width: 600px) {
  .image:hover .overlay {
    opacity: 0.5;
  }

  .image:hover .icon {
    opacity: 1;
  }

  a:hover {
    color: #00fff8;
  }
}
